.btn {
  display: inline-flex;
  justify-content: center;
  padding: 21px;

  color: $color-white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-767 {
    padding: 18px 21px;
  }
}
