.contacts__container {
  padding-top: 83px;
  padding-bottom: 102px;

  @include vp-1199 {
    padding-top: 88px;
    padding-bottom: 69px;
  }

  @include vp-767 {
    padding-top: 67px;
    padding-bottom: 27px;
  }

  p {
    max-width: 483px;
    margin: 0;
    margin-bottom: 49px;

    @include vp-1199 {
      margin-bottom: 40px;
    }

    @include vp-767 {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.contacts__header {
  @include section-header;
  margin-top: 0;
  margin-bottom: 23px;

  @include vp-1199 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.contacts__header::before {
  @include section-header-before;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include vp-1199 {
    flex-direction: column;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-width: 40%;

  @include vp-1199 {
    flex-direction: row;
    gap: 43px;
    max-width: unset;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 30px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 31px;

  @include vp-1199 {
    align-items: start;
    gap: 10px;
  }

  @include vp-767 {
    gap: 7px;
  }

  a {
    display: block;
  }

  a + a {
    margin-top: 10px;
  }
}

.contacts__icon-wrapper {
  padding-top: 6px;

  @include vp-1199 {
    padding-top: 0;
  }
}

.contacts__text-wrapper {
  a {
    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      line-height: 20px;
    }
  }

  span {
    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      line-height: 20px;
    }
  }
}

.contacts__item-title {
  font-size: 18px;
  line-height: 1em;
  font-weight: 600;
  margin: 0;
  margin-bottom: 9px;

  @include vp-1199 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.contacts__leaflet {
  position: absolute;
  top: -104px;
  right: 0;
  min-height: 324px;
  width: 48.75%;
  background-image: url("/img/map-desktop.webp");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/map-desktop@2x.webp");
  }

  @include vp-1199 {
    min-height: 340px;
    width: 100%;
    position: static;
    top: unset;
    margin-top: 39px;
    background-image: url("/img/map-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/map-tablet@2x.webp");
    }
  }

  @include vp-767 {
    min-height: 320px;
    margin-top: 48px;
    background-image: url("/img/map-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/map-mobile@2x.webp");
    }
  }
}
