.hero__slider {
  position: relative;
}

.hero__slide {
  min-height: 800px;
  padding-top: 182px;
  padding-bottom: 80px;
  background-size: cover;

  @include vp-1199 {
    min-height: 1024px;
    padding-top: 174px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-top: 140px;
  }
}

.hero__slide--1 {
  background-color: #6186b0;
  background-image: url("/img/header-slider/header-background-1-desktop.webp");
  background-position: bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/header-slider/header-background-1-desktop@2x.webp");
  }

  @include vp-1199 {
    background-image: url("/img/header-slider/header-background-1-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/header-slider/header-background-1-tablet@2x.webp");
    }
  }
}

.hero__slide--2 {
  background-color: #467aa2;
  background-image: url("/img/header-slider/header-background-2-desktop.webp");

  @media (min-resolution: 2dppx) {
    background-image: url("/img/header-slider/header-background-2-desktop@2x.webp");
  }

  @include vp-1199 {
    background-image: url("/img/header-slider/header-background-2-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/header-slider/header-background-2-tablet@2x.webp");
    }
  }
}

.hero__slide--3 {
  background-color: #293a2b;
  background-image: url("/img/header-slider/header-background-3-desktop.webp");

  @media (min-resolution: 2dppx) {
    background-image: url("/img/header-slider/header-background-3-desktop@2x.webp");
  }

  @include vp-1199 {
    background-image: url("/img/header-slider/header-background-3-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/header-slider/header-background-3-tablet@2x.webp");
    }
  }
}

.hero__slide-info {
  color: $color-default-white;
  position: relative;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  p {
    margin: 0;
    margin-bottom: 37px;
    font-size: 17px;
    line-height: 24px;
    max-width: 455px;

    @include vp-1199 {
      margin-bottom: 27px;
    }

    @include vp-767 {
      margin-bottom: 21px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.hero__slide-title {
  margin: 0;
  margin-bottom: 23px;
  position: relative;
  z-index: 2;

  @include vp-1199 {
    margin-bottom: 13px;
  }
}

.hero__slide-more-link {
  margin-bottom: 150px;
  min-width: 220px;

  @include vp-1199 {
    min-width: 206px;
    margin-bottom: 50px;
  }

  @include vp-767 {
    min-width: 180px;
  }
}

.hero__slide-tour-details {
  display: flex;
  gap: 10px;

  @include vp-1199 {
    display: none;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 13px 20px;
    min-width: 155px;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.hero__slide-special-content {
  top: 47.7%;
  position: absolute;
  transform: translateY(-50.9%);
  right: calc(clamp(100px, $padding-desktop, 120px));
  width: fit-content;

  @include vp-1199 {
    position: static;
    transform: none;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__stretch-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.hero__video-wrapper {
  cursor: pointer;

  img {
    width: 100%;
  }
}

.hero__iframe-wrapper {
  iframe {
    border: none;
  }
}

.hero__poster-wrapper {
  position: relative;
}

.hero__poster-wrapper--nojs {
  display: none;
}

.hero__play-button {
  padding: 0;
  min-width: unset;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid $color-white;
  position: absolute;
  top: 50.2%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include vp-1199 {
    top: 50%;
  }
}

.hero__play-button::after {
  content: "";
  position: absolute;
  left: 23px;
  bottom: 16px;
  border: 10px solid transparent;
  border-left: 12px solid $color-white;
}

.hero__play-button::before {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 11px;
  border: 15px solid transparent;
  border-left: 16px solid transparent;
}

.hero__play-button:hover,
.hero__play-button:focus {
  border-color: $color-resolution-blue;
  background-color: transparent;
}

.hero__play-button:hover.hero__play-button::before,
.hero__play-button:focus.hero__play-button::before {
  border-left: 16px solid $color-default-black;
}

.hero__play-button:active {
  background-color: $color-resolution-blue;
}

.hero__play-button:active.hero__play-button::before {
  border-left: 16px solid transparent;
}

.hero__pagination-wrapper {
  position: relative;
}

.hero__slider-pagination.swiper-pagination {
  width: fit-content;
  position: absolute;
  bottom: 97px;
  right: clamp(100px, $padding-desktop, 120px);
  display: flex;
  flex-direction: row;
  gap: 16px;

  @include vp-1199 {
    bottom: 90px;
    right: 50%;
    transform: translateX(50%);
  }

  @include vp-767 {
    bottom: 40px;
    gap: 12px;
  }

  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: 1px solid $color-white;
    opacity: 1;
    margin: 0;

    @include vp-767 {
      width: 8px;
      height: 8px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $color-white;
  }
}
