.nav {
  font-size: 16px;
  line-height: 1em;

  @include vp-767 {
    font-size: 14px;
  }
}

.nav__toggle {
  display: none;
  border: none;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: transparent;

  @include vp-1199 {
    display: block;
    padding: 20px;
  }
}

.nav__wrapper--closed {
  @include vp-1199 {
    display: none;
  }
}

.nav--nojs {
  .nav__toggle {
    @include vp-1199 {
      margin-left: -20px;
      margin-top: -8px;
    }
  }

  .nav__wrapper--closed {
    display: block;
  }
}

.nav--closed {
  .nav__toggle {
    @include vp-1199 {
      margin-left: -20px;
      margin-top: -8px;
      color: $color-white;
    }

    @include vp-767 {
      margin-top: -21px;
    }
  }

  svg:last-child {
    @include vp-1199 {
      display: none;
    }
  }
}

.nav--closed.nav--nojs {
  .nav__toggle {
    margin-left: -20px;
    margin-top: -9px;
    color: $color-elephant;
    opacity: 0.5;
    cursor: unset;

    @include vp-767 {
      margin-top: -26px;
    }
  }

  svg:first-child {
    @include vp-1199 {
      display: none;
    }
  }

  svg:last-child {
    display: block;
  }
}

.nav--opened {
  .nav__toggle {
    @include vp-1199 {
      margin-left: -20px;
      margin-top: -9px;
      color: $color-default-black;
    }

    @include vp-767 {
      margin-top: -26px;
    }
  }

  svg:first-child {
    display: none;
  }
}

.nav__list {
  max-width: 700px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  list-style-type: none;
  margin: 0;
  margin-top: 24px;

  @include vp-1199 {
    flex-direction: column;
    gap: 26px;
    margin-top: 64px;
  }

  @include vp-767 {
    gap: 22px;
  }
}

.nav__list--nojs {
  position: static;

  @include vp-1199 {
    min-width: unset;
    margin-left: unset;
  }
}

.nav__link {
  border: 1px solid transparent;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    border-color: $color-default-white;
  }

  &:active {
    border-color: $color-default-white;
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.2;
    color: $color-default-black;
  }

  @include vp-1199 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
}
