.section-more-link {
  display: block;
  font-size: 16px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  margin: 52px auto 0;
  position: relative;
  z-index: 3;

  svg {
    margin-left: 5px;
    margin-right: -2px;
  }
}
