.tour {
  position: relative;
}

.tour--nojs {
  width: 31.66%;
  margin-right: 30px;

  @include vp-767 {
    margin-right: 0;
  }
}

.tour__image-wrapper {
  img {
    width: 100%;
  }
}

.tour__image-mask {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-image: $gradient-two;
}

.tour__text-wrapper {
  position: absolute;
  width: 100%;
  padding: 50px 20px 28px;
  bottom: 0;
  color: $color-default-white;

  @include vp-1199 {
    bottom: -1px;
  }
}
