.tour-info {}

.tour-info__row {
  display: flex;
  align-items: center;
}

.tour-info__row--header {
  gap: 37px;
}

.tour-info__row--footer {
  gap: 53px;
}

.tour-info__lasting {
  font-size: 12px;
  line-height: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    white-space: nowrap;
  }
}

.tour-info__lasting--days {
  min-width: 76px;
}

.tour-info__lasting--nights {
  min-width: 82px;
}

.tour-info__region-link {
  display: flex;
  min-width: 108px;
  padding: 9px 20px 8px 24px;
  justify-content: start;

  svg {
    margin-right: 6px;
  }
}

.tour-info__region-name {
  font-size: 12px;
  line-height: 1em;
  font-weight: 600;
}

.tour-info__header {
  position: relative;
  margin-top: 24px;
  margin-bottom: 37px;
  max-width: 240px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.tour-info__header::after {
  position: absolute;
  bottom: -17px;
  left: 0;
  content: "";
  width: 80px;
  height: 1px;
  background-color: $color-default-white;
  opacity: 0.2;
}

.tour-info__item {
  display: flex;
  flex-direction: column;
}

.tour-info__item-title {
  font-size: 12px;
  line-height: 1em;
  font-weight: 300;
  margin-bottom: 6px;
}

.tour-info__item-text {
  font-size: 13px;
  line-height: 1em;
  font-weight: 700;
}
